/*
 * Estilos de tu proyecto
 */
 body {
 	font-family: 'Montserrat', sans-serif;
 	background-color: gray;
 }

 /*header*/
header {
	position: fixed;
	z-index: 1;
	background-color: #2C3E50;
	width: 100%;
	height: 100px;
	color: white;
}

a {
	color: white;
	text-decoration: none;
	padding: 35px;
}

ul, li {
	list-style: none;
	display: inline-block;
}

header ul li a:hover {
    background-color: #18bc9c;
}

input {
	border-style: none;
	color: #999;
}

.lado_left {
	position: absolute;
	top: 0;
	left: 0;
	height: auto;
	margin-left: 80px;
	margin-top: 30px;
}

.lado_right {
	position: absolute;
	top: 0;
	right: 0;
	margin-right: 80px;
	margin-top: 40px;
}
.text-uppercase {
	text-transform:uppercase;
}

.titular {
	font-size: 24px;
	font-weight: bolder;
}

.titular02 {
	font-size: 13px;
	font-weight: bolder;
	margin-right: 10px;
}
/* segunda seccion */
.start {
	padding-top: 150px;
	background-color: #18bc9c;
	height: 640px;
	width: 100%;
}

.text-start01 {
	color: white;
	font-weight: bolder;
	font-size: 55px;
}

.text-start02 {
	color: white;
	font-size: 18px;
}

.img-start {
	max-width: 350px;
}